:root {
	--primary-color: #1976D2;
	--second-color: #fff;
	--third-color: #fa815c;
	--primary-color-font: #062c52;
	--danger-color: #da0101;
}

a { 
 text-decoration:none; 
 color: inherit;
} 

/* ocultar barra de rolagem */
::-webkit-scrollbar {
  width: 0px;
} 

td, th {
	text-align: center;
}

    .pagination {
        display: flex;
        justify-content: center;
        margin: 20px 0;
    }

    .pagination li {
        margin: 0 5px;
    }

    .pagination a {
        padding: 8px 16px;
        text-decoration: none;
    }

    .pagination .active a {
        background-color: #4CAF50;
        color: white;
        border-radius: 4px;
    }

    .pagination .waves-effect a {
        border-radius: 4px;
        border: 1px solid #ddd;
    }