<!-- Template: motoristas/motorista.html -->
{% extends "layout.html" %}

{% block title %}
    <title>Motoristas</title>
{% endblock title %}

{% block content %}
    {% block navbar %}
        {% include "partials/navbar.html" %}
    {% endblock navbar %}

    <div class="container">
        <div class="row">         
            <div class="col s12">
                {% if messages %}
                    <div class="alert alert-success alert-dismissible fade show position-fixed top-50 start-50 translate-middle" 
                    role="alert" id="success-alert" style="z-index: 1050;">
                        {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                    </div>
                {% endif %}

                <table class="highlight">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>CPF</th>
                            <th>CNH</th>
                            <th>Categoria da CNH</th>
                            <th>Data de emissão</th>
                            <th>Data de validade</th>
                            <th>Matrícula</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for motorista in page_obj %}
                        <tr>
                            <td>{{ motorista.nome }}</td>
                            <td>{{ motorista.cpf }}</td>
                            <td>{{ motorista.cnh }}</td>
                            <td>{{ motorista.categoria_cnh }}</td>
                            <td>{{ motorista.data_emissao }}</td>
                            <td>{{ motorista.data_validade }}</td>
                            <td>{{ motorista.matricula }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <!-- Paginação -->
                <div class="pagination">
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                        <li class="waves-effect">
                            <a href="?page=1">Primeira</a>
                        </li>
                        <li class="waves-effect">
                            <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
                        </li>
                        {% endif %}

                        {% for num in page_obj.paginator.page_range %}
                            {% if page_obj.number == num %}
                            <li class="active"><a href="?page={{ num }}">{{ num }}</a></li>
                            {% else %}
                            <li class="waves-effect"><a href="?page={{ num }}">{{ num }}</a></li>
                            {% endif %}
                        {% endfor %}

                        {% if page_obj.has_next %}
                        <li class="waves-effect">
                            <a href="?page={{ page_obj.next_page_number }}">Próxima</a>
                        </li>
                        <li class="waves-effect">
                            <a href="?page={{ page_obj.paginator.num_pages }}">Última</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>

                <div class="col s12 right-align">
                    <!-- Botão para abrir o modal -->
                    <a class="btn waves-effect waves-light green modal-trigger" href="#modalAdicionar">Adicionar</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal de Cadastro -->
    <!-- Modal de Cadastro -->
    <div id="modalAdicionar" class="modal" >
        <div class="modal-dialog-scrollable"> <!-- Adiciona rolagem interna -->
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-white text-uppercase" id="modalAdicionarLabel">Cadastrar Motorista</h5>
                </div>
                <div class="modal-body">
                    <form action="{% url 'listar_motorista' %}" method="POST">
                        {% csrf_token %}
                        <div class="row">
                            {% for field in form.visible_fields %}
                                <div class="col-12 mb-3"> <!-- Margin bottom para espaçamento entre campos -->
                                    <label class="text-white" for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                                    {{ field }}
                                </div>
                            {% endfor %}
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn waves-effect waves-light green">Cadastrar</button>
                            <div></div>
                            <button href="#!" class="modal-close btn-secondary btn-flat">Cancelar</a>
                        </div>
                        {% if messages %}
                            <div class="alert alert-success alert-dismissible fade show" role="alert" id="success-alert">
                                {% for message in messages %}
                                    {{ message }}
                                {% endfor %}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>


{% endblock content %}


{% block scripts %}
    <!-- Inclua os scripts do Materialize CSS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.modal');
            M.Modal.init(elems);
        });
    </script>
    <script>
        // Temporizador para ocultar a mensagem de sucesso após 2 segundos
        setTimeout(function() {
            var successAlert = document.getElementById('success-alert');
            if (successAlert) {
                successAlert.style.display = 'none';
            }
        }, 5000);
    </script>
    
{% endblock scripts %}
